@font-face {
    font-family: "Libre Baskerville";
    src: url("/static/fonts/LibreBaskerville-Bold.ttf");
}


html{
    scroll-behavior: smooth;
}

:root {
    --main-font: Roboto, Sans-serif;
    --main-header-font: Libre Baskerville;
    --main-color: /*#02BFBF;*/ #5dff63;
    --main-font-2: Inter;
    --main-header-fontSize: 75px;
    --step-header-fontSize: 30px;
    --step-paragraph-fontSize: 15px;
    --nav-bar-fontSize: 20px;
    --actionbanner-button-fontSize: 20px;
    --actionbanner-header-fontSize: 43px;
    --actionbanner-paragraph-fontSize: 20px;
    --main-section-interval: 50px;
}


.mainHeader{
    color: #FFFFFF;
    font-family: var(--main-header-font);
    font-size: var(--main-header-fontSize);
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 0px;
    /* word-wrap: break-word; */
}

.secondaryHeader{
    columns: 1;
    column-gap: 0px;
    color: #FFFFFF;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 0px;
    word-spacing: 2px;
    display:flex;
    white-space: pre-wrap;
}

.innerMainHeader{
    text-align: left;
    color: #FFFFFF;
    font-family: var(--main-header-font);
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 0px;
    
}

.innerParagraph{
    color: #A4A9AC;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9em;
    text-align: justify;
}

.secondaryHeaderSpecial{
    color:#797a80;
    white-space: pre-wrap;
}

.actionButton{
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #5dc961;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #5dc961;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 10px 20px 0px rgb(62 187 54 / 28%);
    padding: 17px 35px 17px 35px;
    cursor:pointer;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
}

.actionButton:hover{
    background-color: #4c9f50;
}

.statNumber{
    color: #FFFFFF;
    font-family: var(--main-font);
    font-size: 46px;
    font-weight: 700;
    margin-right:20px;
}

.statWords{
    text-align: left;
    color: #B3B4B7;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.firstStat{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #BFC0C2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 40px 0px 0px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.stepBox{
    margin: 0px 0px 30px 0px;
    padding: 25px 25px 25px 25px;
    background-color: transparent;
    cursor:pointer;
}

.stepBoxActive{
    background: #FFFFFF26;
    border-radius: 10px 10px 10px 10px;
}

.stepBox:hover{
    background-image: linear-gradient(180deg, #FFFFFF26 100%, #FFFFFF00 100%);
    border-radius: 10px 10px 10px 10px;
}

.stepHeader{
    margin-bottom: 0px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--step-header-fontSize);
    font-weight: 600;
    line-height: 1.7em;
}

.stepParagraph{
    color: #B3B4B7CC;
    font-family: var(--main-font);
    font-size: var(--step-paragraph-fontSize);
    font-weight: 400;
}

.stepNumber{
    color: white;
    font-size: 28px;
    font-family: var(--main-font);
}

.actionBanner{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #849AAA85;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 80px 80px 80px;
    background-color: #2A2B3169;
    border-radius: 20px 20px 20px 20px;

}

.actionBannerButton{
    font-family: var(--main-font);
    font-size: var(--actionbanner-button-fontSize);
    font-weight: 600;
    letter-spacing: 1px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #020710;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #020710;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #fbfcff;
    padding: 17px 30px 17px 30px;
    height:fit-content;
}

.actionBannerHeader{
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
    font-size: var(--actionbanner-header-fontSize);
    line-height: 1.1em;
    letter-spacing: 0px;
}

.actionBannerParagraph{
    text-align: left;
    color: white;
    font-family: var(--main-font);
    font-size: var(--actionbanner-paragraph-fontSize);
    font-weight: 500;
    line-height: 1.9em;
}

.joinButton{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    fill: #02BFBF;
    color: var(--main-color);
    background-color: #E0E7FA00;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--main-color);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgb(21 92 231 / 43%);
    padding: 0px 0px 7px 0px;
    cursor:pointer;
    margin-top:20px;
    /* transition: background-color 0.3s, border-color 0.3s, border-radius 0.3s, box-shadow 0.3s; */
}

.joinButton:hover{
    color:white;
    border-color: white;

}

.joinButtonArrow{
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: 8px;
}

.footerBackground{
    background-image: url(https://toka.b-cdn.net/wp-content/themes/toka/assets/img/bg-black.png);
    background-position: center center;
    background-size: cover;
}

.footerSocial{
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.021em;
    color: white;
    margin-bottom: 20px;
    font-family: var(--main-header-font);
    visibility: hidden;
}

/* .footerSocial:before{
    content: '|';
    width: 8px;
    display: inline-block;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: -0.014em;
    color: #36bb91;
    margin-right: 0.25rem;
    margin-right: 0.5rem;
    font-size: 30px;

} */

.footerSocialLink{
    font-size: 14px;
    letter-spacing: -0.0025em;
    color:white;
    margin-bottom:10px;
    cursor:pointer;
    font-family: var(--main-font);
}

.footerSocialLink:hover{
    text-decoration: underline;
}

.navLink{
    text-decoration: none;
    color:white;
}

.navLink:hover{
    color:var(--main-color);
}

.phoneNavLink{
    text-decoration: none;
    color:black;  
}

.phoneNavLink:hover{
    color:var(--main-color);
}

.anchorForLink{
    position: absolute;
    transform: translateY(-50vh);
    visibility:hidden;
}

.podcastBox{
    margin: 0px 0px 30px 0px;
    padding: 25px 25px 25px 25px;
    position: relative;
    font-family: "Poppins", sans- serif;
    color: #fff;
    font-size: 20px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(70 70 70 / 19%);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    border-left: 0.1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    width: 100%;
    margin: 0;
    margin-top: 20px;
    background-image: linear-gradient(135deg, #020202, #060d18);
}

.podcastBox2{
    margin: 0px 0px 30px 0px;
    padding: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #849AAA85;
    background-color: #2A2B3169;
    border-radius: 20px 20px 20px 20px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.podcastBoxNumber{
    color:white;
    text-align:center;
    font-size: 28px;
    font-family: var(--main-font);
}

.slickDots{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.slickDotActive{
    background: #fff;
    border-radius: 30px;
    height: 10px;
    width: 37px;
    border-radius: 10px;
    box-shadow: 0 100px 80px rgb(0 0 0 / 4%), 0 30.1471px 24.1177px rgb(0 0 0 / 5%), 0 12.5216px 10.0172px rgb(0 0 0 / 7%), 0 4.5288px 3.62304px rgb(0 0 0 / 10%);
    cursor: pointer;
    margin: 0 4px;
}

.slickDotPresent{
    background: hsla(0,0%,100%,.3);
    border-radius: 10px;
    box-shadow: 0 100px 80px rgb(0 0 0 / 4%), 0 30.1471px 24.1177px rgb(0 0 0 / 5%), 0 12.5216px 10.0172px rgb(0 0 0 / 7%), 0 4.5288px 3.62304px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-size: 0;
    height: 10px;
    margin: 0 4px;
    width: 10px;
}

.slickDotUnclickable{
    cursor: not-allowed;
}

@media screen and (max-width: 1000px) {
    .mainHeader {
        font-size:40px;
        text-align:center;
        justify-content: center;
    }
    .secondaryHeader{
        font-size:14px;
        text-align:center;
        justify-content: center;
    }
    .actionButton{
        font-size:20px;
        text-align:center;
        justify-content: center;
    }
    .firstStat{
        border:none;
        margin:0;
    }
    .statWords{
        margin:0 !important;
    }
    .innerMainHeader{
        font-size:32px;
        text-align:center;
    }
    .innerParagraph{
        font-size:16px;
        text-align:justify;
    }
    .actionBanner{
        padding: 30px 25px 30px 25px;
    }
    .actionBannerHeader{
        text-align:center;
        font-size:32px;
    }
    .actionBannerParagraph{
        text-align:center;
        font-size:16px;
        margin-bottom: 20px;
    }
    .actionButton{
        font-size:20px;
        text-align:center;
    }
    .stepHeader{
        font-size: 25px;
        text-align:center;
    }
    .stepParagraph{
        font-size: 16px;
        text-align: center;
    }
    .stepBox{
        padding: 25px 25px 25px 25px;
        margin-bottom: 0px;
    }
  }